<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h1>Galeria de Filmes</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <% imagens.forEach(imagens => { %>
                    <div class="col-md-3 m-auto">
                        <img src="uploads/<%= imagens.file %>" alt="Erro" class="img-thumbnail">
                    </div>
                </div>
               <% }) %>
               <hr>
               <form action="/upload" method="POST" enctype="multipart/form-data">
                <label>Título do Filme:</label>
                <input type="text" name="titulo" placeholder="Insira o título do filme" class="form-control" required>
                <br>
                <label>Ano do Filme:</label>
                <input type="text" name="ano" placeholder="Insira o ano do filme" class="form-control" required>
                <br>
                <input type="file" name="file" class="form-control" required>
                <br>
                <br>
                <input type="submit" value="Enviar" class="btn btn-success w-100">
            </form>
        </div>
    </div>
</div>


<%- include ('partials/footer.ejs') %>