<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" href="/">
        Filmes
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/imagens"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/upload"></a>
        </li>
    </ul>
</nav>
<br>